.driver-location-tooltip-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.driver-info-overlay {
  padding: 10px;
  color: #333;
  font-size: 18px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  text-align: left;
}

.driver-info-overlay p {
  margin: 5px 0;
}
